@charset "UTF-8";

@media screen and (min-width: 748px) {
    #servicos {
        height: 1150px;
    }
}

@media screen and (min-width: 769px) {

    .main-header {
        background-position: center center;
    }    
    #burguer {
        display: none;
    }

    #itens.abrir-menu {
        height: 0px;
    }

    #itens {
        visibility: visible;
        overflow: visible;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        position: sticky;
        padding: 0px;
        height: 0;
        width: auto;
        backdrop-filter: blur(0px);
        z-index: 3;
    }

    #itens li a {
        font-size: .9em;
        padding: 0px;
        width: max-content;
    }

    #itens li a:hover {
        background-color: transparent;
    }

    .sec-footer {
        flex-direction: row;
    }
}

@media screen and (min-width: 993px) {
    .img-fundo-halter {
        display: block;
    }

    .sec-content-contatos {
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-main-content-section-servicos p {
        display: none;
    }
}

@media screen and (min-width: 1092px) {
    #servicos {
        height: 750px;
    }
}