@charset "UTF-8";

:root {
    --font-padrao: 'Poppins', sans-serif;

    --cor-1: #F2C75C;
    --cor-2: #F2CC85;
    --cor-3: #F2DAAC;
    --cor-4: #F2E6D0;
    --cinza: rgb(102, 102, 102);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    font-family: var(--font-padrao);
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
}

.div-linha {
    height: 1px;
    width: 50px;
    border-radius: 1000px;
    background-color: var(--cinza);
    padding-top: 3px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--cor-1);
    border-radius: 30px;
}

/* HEADER */

.main-header {
    background: url(../imagens/imagem-fundo.jpg)  right bottom no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.nav-main-header {
    z-index: 2;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

.nav-main-header a img {
    width: 80px;
}

#itens {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: -1;
    transition: .5s;
    list-style: none;
}

#itens.abrir-menu {
    visibility: visible;
    height: 100vh;
}

#itens li a{
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px;
    display: block;
    width: 100vw;
    transition: .3s;
}

#itens:hover li a {
    opacity: .3;
}

#itens li a:hover {
    transform: scale(1.1);
    color: var(--cor-1);
    text-shadow: 0px 0px 10px white;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

#burguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.linha {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
}


#burguer.animacao-menu .linha:nth-child(1){
    transform: translateY(9px) rotate(-45deg);
    background-color: var(--cor-1);
    box-shadow: 0px 0px 7px var(--cor-1);
}

#burguer.animacao-menu .linha:nth-child(2) {
    width: 0;
}

#burguer.animacao-menu .linha:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
    background-color: var(--cor-1);
    box-shadow: 0px 0px 7px var(--cor-1);
}

.rolagem {
    background-color: rgba(0, 0, 0, 0.555);
    padding: 10px;
    border: 0px;
}

.div-main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

.p-main-header {
    color: rgb(102, 102, 102);
    text-transform: uppercase;
}

.title-main-header {
    padding: 30px 0px;
}

.span-title-main-header {
    color: var(--cor-1);
}

.h2-main-header {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0px;
}

.btn-main-header {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--cor-1);
    color: rgba(0, 0, 0, 0.815);
    font-weight: 600;
    font-size: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    transition: .5s;
}

.btn-main-header:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);
}

/* MAIN */

/* SEC 1*/
.main-content {
    background-color: #fff;
    color: rgb(0, 0, 0);
    width: 100%;
}

#quem-somos {
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.title-main-content-section1 {
    padding-top: 25px;
    font-size: 15px;
    color: var(--cinza);
}

.h2-main-content-section1 {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
    text-align: start;
    max-width: 400px;
}


.img-fundo-halter {
    height: 450px;
    width: 370px;
    margin-top: 30px;
    background: #333 url(../imagens/halter.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 20px;

    display: none;
}

.main-content-section2 {
    width: 400px;
}

.span-main-section2 {
    float: left;
    padding-right: 10px;
    color: var(--cor-1);
    font-size: 52px;
    font-weight: 600;
    line-height: 40px;
    text-shadow: -4px 3px 4px rgba(0, 0, 0, 0.322);
}

.p-main-content-section2 {
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.637);
    text-align: left;
    margin-bottom: 30px;
    padding-top: 25px;
}

.div-div-main-content-section2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.div-p-main-content-section2 {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14.7px;
    color: rgba(0, 0, 0, 0.774);
}

.check {
    padding-right: 10px;
}

/* SEC 2 */

#servicos {
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    width: 100%;
    height: 1600px;
}

.div-main-content-section-servicos {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-main-content-section-servicos p {
    color: var(--cinza);
    padding-bottom: 30px;
    font-size: 12px;
}

.title-main-content-section2 {
    padding-top: 50px;
    font-size: 15px;
    color: var(--cinza);
    padding-bottom: 20px;
}

.h2-main-content-section2 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

/* CARD serviços */

.content-card h3 span {
    font-size: 10px;
    padding: 0px;
    text-shadow: none;
    color: var(--cinza);

} 

.cards-servicos {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px 46px;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.cards-servicos .card-servicos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,.15);
    background-color: #fff;
    transition: .5s;
}

.cards-servicos .card-servicos:hover {
   min-height: 400px;
}

.cards-servicos .card-servicos .card-servicos-img {
    position: absolute;
    top: 20px;
    max-width: 300px;
    width: 100%;
    height: 220px;
    border-radius: 12px;
    background-color: #333;
    overflow: hidden;
    transition: .5s;
}

.cards-servicos .card-servicos .card-servicos-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-servicos .card-servicos .content-card {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    padding-top: 0;
    transition: .5s;
}

.cards-servicos .card-servicos:hover .card-servicos-img {
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .2);
}

.cards-servicos .card-servicos:hover .content-card {
    top: 150px;
    overflow: visible;
}

.cards-servicos .card-servicos .content-card h3 {
    font-weight: 700;
    line-height: 2rem;
    border-radius: 20px;
    margin-bottom: 10px;
    color: var(--cor-1);
    background-color: black;
}

.cards-servicos .card-servicos .content-card p {
    font-size: 14px;
    color: transparent;
}

.cards-servicos .card-servicos:hover .content-card p {
    color: var(--cinza);
    transition: .6s;
}

/* UNIDADES */

.div-unidades {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-unidades h1 {
    padding-top: 50px;
    font-size: 15px;
    color: var(--cinza);
    padding-bottom: 20px;
}

.div-unidades h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

/* CARD unidades */

#unidades {
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    width: 100%;
}

.card-unidades:after {
    content: '';
    position: absolute;
    left: -1;
    top: 70%;
    width: 3px;
    height: 100px;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--cor-1), transparent);
    opacity: 0;
}

.card-unidades:hover:after {
    top: 25%;
    opacity: 1;
}

.card-unidades:before {
    content: '';
    position: absolute;
    right: 0;
    top: -70%;
    width: 3px;
    height: 100px;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--cor-1), transparent);
    opacity: 0;
}

.card-unidades:hover:before {
    top: 30%;
    opacity: 1;
}

.cards-unidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    flex-wrap: wrap;
    padding: 100px 0px;
}


.card-unidades {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.192);
}

.card-unidades .card-unidades-img {
    width: 100%;
    height: 180px;
    background: var(--cor-1) url(../imagens/unidades.png) center center no-repeat;
    background-size: cover;
}

.card-unidades .card-unidades-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card-unidades .card-unidades-content h3 {
    width: 100%;
    font-weight: 700;
    border-radius: 20px;
    margin-bottom: 10px;
    color: var(--cor-1);
    background-color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

.card-unidades .card-unidades-content p {
    text-align: center;
    font-size: 15px;
    color: var(--cinza);
}

/* PORQUE NOS */

#porque-nos {
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    background-color: #F2C75C;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.sec1-porque-nos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.sec1-porque-nos h1 {
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza);
}

.sec1-porque-nos h2 {
    font-weight: 600;
    font-size: 20px;
}

.div-linha-pq {
    background-color: black;
}

.sec1-porque-nos p {
    color: var(--cinza);
    font-size: 15px;
    text-indent: 3;
    text-align: justify;
    padding-bottom: 50px;
    max-width: 420px;
}

.div-sec2-porque-nos {
    display: flex;
}

.div-sec2-porque-nos .check {
    font-size: 50px;
}

.div-sec2-porque-nos h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.div-sec2-porque-nos p {
    color: var(--cinza);
    font-size: 0.8em;
    line-height: 1.5;
    text-align: start;
    padding-bottom: 50px;
    width: 100%;
    max-width: 390px;
}

.btn-porque-nos {
    width: 200px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    font-size: 15px;
    font-weight: 600;

    background-color: black;
    color: var(--cor-1);
    transition: .5s;
}

.btn-porque-nos:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 8px #3333333a;
    color: var(--cinza);
}

/* CONTATOS */

#contatos {
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.header-contatos h1 {
    padding: 20px 0px;
    font-size: 15px;
    color: var(--cinza);
}

.header-contatos h2 {
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.sec-content-contatos {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sec-content-principal {
    display: flex;
    align-items: start;
    gap: 30px;
}

.sec-content-principal .div-imagem-contatos {
    width: 40px;
    height: 40px;
    transform: translateY(20px);
}

.sec-content-principal .div-imagem-contatos img {
    width: 100%;
}

.sec-article-content-contatos {
    padding-bottom: 30px;
}

.sec-article-content-contatos h3{
    font-weight: 400;
    padding: 20px 0px;
    margin-right: 20px;
}

.sec-article-content-contatos p {
    margin-top: 20px;
}

/* FOOTER */

.div-footer {
    height: 150px;
    border-bottom: 1px solid var(--cor-1);
    border-top: 1px solid var(--cor-1);
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-footer a {
    width: 100px;
}

.div-footer a img {
    width: 100%;
    filter: drop-shadow(0px 0px 7px var(--cor-2));
}

.sec-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px 20px;
    padding: 20px;
}

.sec-footer p {
    font-size: 10px;
    font-weight: 200;
    color: var(--cor-1);
}

.sec-footer h1 {
    font-size: 13px;
    line-height: 4;
}

.sec-footer h2 {
    font-size: 11px;
    font-weight: 200;
}

.sec-footer h2 a {
    text-decoration: none;
    color: var(--cor-1);
    font-size: 12px;
    transition: .5s;
    border-bottom: 1px solid var(--cor-1);
}

.sec-footer h2 a:hover {
    color: var(--cor-2);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.801);
    transform: scale(1.05);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}